html,
body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
:root {
  --light-red: rgb(227, 45, 45);
  --light-blue: rgb(22, 47, 77);
  --light-blue-opacity: rgb(22, 47, 77, 0.8);
  --blue: rgb(12, 21, 29);
  --dark-red: rgb(183, 28, 28);
  --dark-red-opacity: rgb(183, 28, 28, 0.9);
  --dark-blue: rgb(11, 18, 25);
  --shadow: hsl(0deg 0% 0% / 0.25);
  --light-shadow: rgba(47, 47, 47, 0.25);
}

.header {
  display: flex;
  font-family: "Catamaran", sans-serif;
  color: white;
  background-color: var(--light-red);
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  justify-content: space-between;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 80px;
}
.header.dark {
  background-color: var(--dark-blue);
}
.header-home {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 40px;
}
.header-home h3 {
  margin-left: 5px;
}
.home-container {
  height: 100vh;
  width: 100vw;
  background-color: white;
}
.home-container.dark {
  background-color: var(--light-blue);
}
.home-content {
  position: relative;
  top: 90px;
  color: var(--light-red);
}
.home-content.dark {
  color: white;
}
.header h3 {
  display: inline-block;
}
.main-title {
  position: absolute;
  left: 43%;
}
.toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-right: 40px;
}
.toggler p {
  font-size: 19px;
  font-weight: 700;
}
.toggler-themes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toggler--slider {
  width: 31px;
  height: 16px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 10px;
  cursor: pointer;
  border-radius: 2rem;
  border: 0.2px solid white;
  box-sizing: content-box;
  justify-content: flex-start;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: white;
}
.ri-checkbox-blank-circle-fill {
  color: var(--dark-red);
}
nav.dark .ri-checkbox-blank-circle-fill {
  color: black;
}

.toggler--light {
  color: white;
}

nav.dark .toggler--light {
  color: white;
}

.toggler--dark {
  color: white;
}

nav.dark .toggler--dark {
  color: #ffffff;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}
.toggler-language {
  width: 150px;
}
.toggler--english,
.toggler--chinese {
  padding-left: 7px;
  color: white;
  cursor: pointer;
}
.ri-home-3-line {
  color: white;
  cursor: pointer;
}
.container {
  height: fit-content;
  width: 100vw;
  background-color: white;
}
.container.dark {
  background-color: var(--light-blue);
}

.custom-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 40px;
  height: 90px;
  position: relative;
  top: 90px;
}

.card-grid {
  position: relative;
  top: 90px;
  height: 100vh;
  width: 100vw;
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.card-grid.dark {
  background-color: var(--light-blue);
}
.first-card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.first-card_container.dark {
  background-color: var(--light-blue);
}

.first-flashcard-btn {
  position: absolute;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: filter 250ms;
  color: white;
}
.first-flashcard-btn.dark {
  color: var(--dark-blue);
}

.new-flashcard-btn,
.ranked-btn,
.favorite-items-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: filter 250ms;
}

.btn-styled {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: var(--shadow);
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: var(--dark-red);
}
.edge.dark {
  background-color: var(--dark-blue);
}
.ranked-btn .btn-front {
  padding: 12px 14px 4px 14px;
  align-self: center;
  font-size: 19px;
  color: var(--dark-red);
  transform: translateY(-4px);
  background: white;
}
.save-btn .btn-front {
  background: white;
  color: var(--dark-red);
  transform: translateY(-3px);
}
.ranked-btn .btn-front.dark,
.save-btn .btn-front.dark {
  color: var(--dark-blue);
}

.ranked-btn .edge,
.save-btn .edge {
  background: var(--dark-red);
  width: 100%;
  height: 100%;
}

.ranked-btn .edge.dark,
.save-btn .edge.dark {
  background-color: var(--dark-blue);
}
.special-btn-box {
  display: flex;
  flex-direction: row;
  width: 120px;
  justify-content: space-between;
}
.familiar-items-btn .btn-front,
.favorite-items-btn .btn-front {
  padding: 10px 12px 4px 12px;
  align-self: center;
  font-size: 19px;
  height: 42px;
}

.btn-front {
  display: block;
  position: relative;
  padding: 12px 32px;
  border-radius: 12px;
  font-size: 1rem;
  background: var(--light-red);
  color: white;
  font-weight: 700;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.btn-front.dark {
  background-color: white;
  color: var(--dark-blue);
}

.first-flashcard-btn:hover .btn-front,
.btn-styled:hover .btn-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.save-btn:hover .btn-front {
  transform: translateY(-5px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.first-flashcard-btn:hover .shadow,
.btn-styled:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.first-flashcard-btn:active .btn-front,
.btn-styled:active .btn-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.first-flashcard-btn:active .shadow,
.btn-styled:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.first-flashcard-btn:focus:not(:focus-visible),
.btn-styled:focus:not(:focus-visible) {
  outline: none;
}
.shadow {
  filter: blur(4px);
}
.first-flashcard-btn,
.btn-styled {
  transition: filter 600ms;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.first-flashcard-btn:hover,
.btn-styled:hover {
  transition: filter 250ms;
  filter: brightness(110%);
}
.ri-close-fill {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--dark-red);
  cursor: pointer;
}
.ri-close-fill.dark {
  color: var(--dark-blue);
}

.editor,
.create-card {
  display: flex;
  height: 420px;
  width: 450px;
  font-family: "Catamaran";
  background-color: white;
  color: black;
  border: 2px solid var(--light-red);
  border-radius: 10px;
  margin: 0;
  padding: 10px;
  justify-content: center;
}
.editor.dark,
.create-card.dark {
  border-color: var(--dark-blue);
}
.question,
.answer {
  height: 300px;
  width: 420px;
}
.save-btn_box {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ri-arrow-left-s-line,
.ri-arrow-right-s-line {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: var(--dark-red);
}
.ri-arrow-left-s-line.dark,
.ri-arrow-right-s-line.dark {
  color: var(--dark-blue);
}
.ri-arrow-left-s-line {
  left: 5px;
}
.ri-arrow-right-s-line {
  right: 5px;
}
.card {
  margin: 10px;
  padding: 10px 10px;
}
.card-item {
  position: relative;
  height: fit-content;
  width: fit-content;
  min-height: 200px;
  min-width: 200px;
  background-color: white;
  color: black;
  border: 2px solid var(--light-red);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 250ms;
}
.card-item.dark {
  border-color: var(--dark-blue);
}
.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4);
}
.card-item:active {
  transform: translateY(5px);
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4);
}
.card-body {
  width: fit-content;
  margin: 20px 20px;
}
.ri-edit-2-line,
.ri-delete-bin-6-line,
.heart-icon {
  color: var(--light-red);
  position: absolute;
  cursor: pointer;
}
.ri-edit-2-line {
  left: 5px;
}
.ri-delete-bin-6-line {
  right: 5px;
}

.heart-icon {
  bottom: 10px;
  right: 5px;
}

.ri-delete-bin-6-line.dark,
.heart-icon.dark,
.ri-edit-2-line.dark {
  color: var(--dark-blue);
}

.english_card {
  font-family: "Catamaran";
}
.chinese_card {
  font-family: "Ma Shan Zheng", cursive;
}
.show_review-card,
.show_edit-card {
  background-color: var(--dark-red-opacity);
}

.show_review-card.dark,
.show_edit-card.dark {
  background-color: var(--light-blue-opacity);
}
.popup_review_card,
.popup_review_card.dark,
.popup_edit-card,
.popup_edit-card.dark,
.popup_create-card,
.popup_create-card.dark {
  background-color: white;
}
.show_new-card {
  background-color: var(--dark-red);
}
.show_new-card.dark {
  background-color: var(--light-blue);
}

.card-body_reviewed.chinese_card,
.chinese_card .card-body {
  font-size: 22px;
}
.card-reviewed {
  margin-right: 20px;
  background-color: white;
  min-width: 400px;
  min-height: 300px;
  width: fit-content;
  height: fit-content;
  color: black;
  border: 2px solid var(--light-red);
  border-radius: 10px;
  cursor: pointer;
  transition: 250ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}
.card-reviewed.dark {
  border-color: var(--dark-blue);
}
.card-body_reviewed {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-reviewed:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 3px var(--shadow);
}
.card-reviewed.flip {
  --rotate-y: 180deg;
}
.card-body_reviewed .front,
.card-body_reviewed .back {
  position: absolute;
  margin: 20px 15px;
}
.card-reviewed .back {
  transform: rotateY(180deg);
}

.rotate-box {
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  align-items: center;
  margin-top: 10px;
}

.rotate-icon {
  height: 35px;
  background-color: var(--light-red);
  padding: 0 6px;
  border: none;
  border-radius: 50%;
  transition: 250ms;
}
.rotate-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 5px 3px var(--shadow);
}
.rotate-icon:active {
  transform: translateY(2px);
  box-shadow: 0 0 5px 3px var(--shadow);
}

.ri-close-line {
  color: var(--dark-red);
  cursor: pointer;
}
.ri-check-line {
  color: green;
  cursor: pointer;
}
.ranked-box {
  display: flex;
  width: 210px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.familiar-card_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 40px 40px;
  top: 90px;
}
.familiar-card_grid.dark {
  background-color: var(--light-blue);
}
.familiar-card {
  margin: 0;
  padding: 10px 10px;
}
.familiar-card_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  font-weight: 700;
  font-size: 40px;
  color: white;
  border: none;
  background-color: var(--light-red);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 250ms;
}
.familiar-card_item.dark {
  color: var(--dark-blue);
  background-color: white;
  border-color: var(--dark-blue);
}
.familiar-card_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4);
}
.familiar-card_item:active {
  transform: translateY(5px);
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4);
}
